body {
  font-family: "Montserrat", sans-serif;
}

img {
  display: block;
  width: 100%;
}

.container {
  padding-right: 30px;
  padding-left: 30px;
  max-width: 1260px;
}

header {
  background-image: url(../images/yellow_top_wave_01.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  height: 240px;
}
header .header-nav {
  transition: 0.2s;
}
header .header-nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-nav .container .logo img {
  width: 80px;
}
header .header-nav .container nav {
  display: flex;
  align-items: center;
  font-size: 13px;
}
header .header-nav .container nav .menudrop {
  position: relative;
  margin-right: 50px;
  padding: 30px 0;
}
header .header-nav .container nav .menudrop::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(0%);
  top: 75px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #b61984;
  transition: 0.5s;
  z-index: 2;
}
header .header-nav .container nav .menudrop:hover::before {
  transform: translateX(-50%) scale(100%);
}
header .header-nav .container nav .menudrop:hover .menudrop-content {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) scale(100%);
}
header .header-nav .container nav .menudrop:hover .floatleft {
  transform: translateX(0) scale(100%);
}
header .header-nav .container nav .menudrop:hover .floatright {
  transform: translateX(-75%) scale(100%);
}
header .header-nav .container nav .menudrop a {
  color: #181818;
  font-weight: 600;
  text-decoration: none;
  transition: 0.1s;
}
header .header-nav .container nav .menudrop a:hover {
  color: #b61984;
}
header .header-nav .container nav .menudrop a:active .menudrop::before {
  transform: translateX(-50%) scale(80%);
}
header .header-nav .container nav .menudrop .menudrop-content {
  position: absolute;
  display: flex;
  left: 50%;
  transform: translateX(-50%) scale(80%);
  background: white;
  top: 80px;
  padding: 10px 20px;
  box-shadow: 0 0 10px 0 rgba(204, 204, 204, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
header .header-nav .container nav .menudrop .menudrop-content .menucol {
  width: 200px;
}
header .header-nav .container nav .menudrop .menudrop-content .menucol .content-col:hover .menucol2 {
  visibility: visible !important;
  opacity: 1 !important;
}
header .header-nav .container nav .menudrop .menudrop-content .menucol .content-col a {
  display: block;
  width: 200px;
  font-size: 12px;
  position: relative;
  padding: 2px 0;
}
header .header-nav .container nav .menudrop .menudrop-content .menucol .content-col a.highlight {
  color: #b61984;
}
header .header-nav .container nav .menudrop .menudrop-content .menucol .content-col a.dot-layer2::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #b61984;
  transition: 0.5s;
  z-index: 2;
}
header .header-nav .container nav .menudrop .menudrop-content .menucol .content-col .dropdown-divider {
  width: 100%;
  border-top: 2px solid #e9ecef;
}
header .header-nav .container nav .menudrop .menudrop-content .menucol .content-col .divider1 {
  border-top: 2px solid #b61984;
}
header .header-nav .container nav .menudrop .menudrop-content .menucol .content-col .menudrop-content2 {
  position: relative;
  left: 220px;
}
header .header-nav .container nav .menudrop .menudrop-content .menucol .content-col .menudrop-content2 .menucol2 {
  position: absolute;
  visibility: hidden;
  background: white;
  box-shadow: 0 0 10px 0 rgba(204, 204, 204, 0.5);
  width: 200px;
  padding: 10px 20px;
  top: -50px;
  opacity: 0;
  transition: 0.2s;
}
header .header-nav .container nav .menudrop .menudrop-content .menucol .content-col .menudrop-content2 .menucol2-last {
  top: -30px;
}
header .header-nav .container nav .menudrop .menudrop-content .col2 {
  margin-left: 40px;
  margin-right: 40px;
}
header .header-nav .container nav .menudrop .floatleft {
  left: 0;
  transform: translateX(0) scale(80%);
}
header .header-nav .container nav .menudrop .floatright {
  left: 0;
  transform: translateX(-75%) scale(80%);
  text-align: right;
}
header .header-nav .container nav .menudrop-active::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(70%);
  top: 75px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #b61984;
  transition: 0.5s;
  z-index: 2;
}
header .header-nav .container nav .header-button a {
  font-size: 13px;
  color: #181818;
  margin-left: 4px;
  margin-right: 0px;
  transition: 0.1s;
}
header .header-nav .container nav .header-button a:hover {
  color: #b61984;
}
header .header-nav .container nav .header-button .btn {
  margin: 0 10px;
  border-radius: 24px;
  padding: 11px 20px;
  background: white;
  box-shadow: 0 0 0 3em #b61984 inset;
  font-size: 13px;
  font-weight: 500;
  border: 0.1px solid #b61984;
  transition: 0.3s ease;
}
header .header-nav .container nav .header-button .btn:hover {
  color: #b61984;
  box-shadow: 0 0 0 0.5px #b61984 inset;
}
header .header-nav .container nav .header-button i {
  margin-right: 6px;
}

header .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: white !important;
  padding: 0;
  box-shadow: 0 0 10px 0 rgba(204, 204, 204, 0.5);
  z-index: 3;
}
header .sticky .logo img {
  width: 49px !important;
}
header .sticky .menudrop {
  position: relative;
  margin-right: 50px;
  padding: 15px 0 !important;
}
header .sticky .menudrop::before {
  top: 45px !important;
}
header .sticky .menudrop .menudrop-content {
  top: 50px !important;
}
header .sticky .menudrop-active::before {
  top: 45px !important;
}
header .sticky .header-button .btn {
  padding: 6px 20px !important;
}

.aboutus-title {
  margin-top: -230px;
  background-image: url(../images/Violet_top_left_wave.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}
.aboutus-title .container {
  display: flex;
  align-items: center;
  padding: 50px 30px;
}
.aboutus-title .container .at-left {
  width: 50%;
}
.aboutus-title .container .at-left h3 {
  color: #b61984;
  font-size: 16px;
  font-weight: 700;
}
.aboutus-title .container .at-left h2 {
  font-size: 58px;
  font-weight: 700;
}
.aboutus-title .container .at-right {
  width: 50%;
}

.aboutus-list {
  background-color: #DCD1F3;
  background-image: url(../images/Wave_White_bottom_right_shape_01.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}
.aboutus-list .container {
  padding-top: 30px;
}
.aboutus-list .container .al-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.aboutus-list .container .al-row .al-item {
  width: 22.5%;
  border-radius: 16px;
  overflow: hidden;
  transition: 0.3s;
}
.aboutus-list .container .al-row .al-item .al-item-image {
  max-height: 180px;
  overflow: hidden;
}
.aboutus-list .container .al-row .al-item .al-item-image img {
  transition: 0.5s;
}
.aboutus-list .container .al-row .al-item .al-item-image:hover img {
  transform: scale(1.1);
}
.aboutus-list .container .al-row .al-item:hover {
  box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
}
.aboutus-list .container .al-row .al-item .al-item-content {
  padding: 30px 20px;
  text-align: center;
  background: white;
}
.aboutus-list .container .al-row .al-item .al-item-content h5 {
  font-size: 11px;
  font-weight: 600;
  color: #b61984;
}
.aboutus-list .container .al-row .al-item .al-item-content h3 {
  font-size: 24px;
  font-weight: 700;
}
.aboutus-list .container .al-row .al-item .al-item-content p {
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
}

.form-course {
  background-image: url(../images/accent_bottom_wave_01.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}
.form-course .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 40px;
  padding-top: 60px;
}
.form-course .container .form-right .form-item {
  background: white;
  box-shadow: 0 0 10px 0 rgba(204, 204, 204, 0.5);
  border-radius: 10px;
  width: 380px;
  padding: 15px 25px 70px 25px;
}
.form-course .container .form-right .form-item h3 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 40px;
}
.form-course .container .form-right .form-item input {
  border-radius: 24px;
  height: 40px;
  font-size: 11px;
  font-weight: 500;
  padding-left: 36px;
}
.form-course .container .form-right .form-item .input-name {
  position: relative;
  width: 43%;
}
.form-course .container .form-right .form-item .input-name i {
  top: 12px;
  left: 12px;
}
.form-course .container .form-right .form-item .input-email {
  position: relative;
  width: 53%;
}
.form-course .container .form-right .form-item .input-email i {
  top: 12px;
  left: 12px;
}
.form-course .container .form-right .form-item .select-language {
  position: relative;
}
.form-course .container .form-right .form-item .select-language i {
  top: 10px;
  left: 12px;
}
.form-course .container .form-right .form-item .message {
  position: relative;
}
.form-course .container .form-right .form-item .message i {
  top: 10px;
  left: 12px;
}
.form-course .container .form-right .form-item i {
  position: absolute;
  color: #b61984;
}
.form-course .container .form-right .form-item select {
  font-size: 11px;
  font-weight: 500;
  border-radius: 24px;
  height: 36px;
  padding-left: 36px;
}
.form-course .container .form-right .form-item textarea {
  font-size: 11px;
  font-weight: 500;
  border-radius: 24px;
  height: 90px;
  padding-left: 36px;
  padding-top: 8px;
}
.form-course .container .form-right .form-item button.btn {
  color: white;
  border-radius: 24px;
  padding: 14px 56px;
  margin-top: 30px;
  background: white;
  box-shadow: 0 0 0 3em #b61984 inset;
  font-size: 13px;
  font-weight: 500;
  border: 0.1px solid #b61984;
  transition: 0.3s ease;
}
.form-course .container .form-right .form-item button.btn:hover {
  color: #b61984;
  box-shadow: 0 0 0 0.5px #b61984 inset;
}
.form-course .container .form-right .form-item .form-control:focus {
  box-shadow: none;
  border: 0.1px solid gray;
}

.footer {
  background-image: url(../images/footer_background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 200px;
}
.footer .container {
  display: flex;
  justify-content: space-between;
}
.footer .container .middle {
  width: 18%;
}
.footer .container .footer-item {
  color: white;
}
.footer .container .footer-item h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}
.footer .container .footer-item p {
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
}
.footer .container .footer-item p i {
  margin-right: 10px;
}
.footer .container .footer-item a {
  color: white;
  margin-right: 6px;
  font-size: 12px;
  transition: 0.2s;
  text-decoration: none;
  font-weight: 500;
}
.footer .container .footer-item a:hover {
  opacity: 0.8;
}
.footer .container .footer-item a.fab:hover {
  color: #181818;
}
.footer .container .footer-item hr {
  width: 40%;
  margin: 6px 0;
}
.footer .container .footer-item input {
  text-align: center;
  margin-top: 46px;
  border-radius: 24px;
  color: white;
  font-size: 13px;
  width: 240px;
  height: 48px;
  background: #AA017E;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: 0.3s;
}
.footer .container .footer-item input::-moz-placeholder {
  color: white;
}
.footer .container .footer-item input:-ms-input-placeholder {
  color: white;
}
.footer .container .footer-item input::placeholder {
  color: white;
}
.footer .container .footer-item input.form-control:focus {
  box-shadow: none;
  border: 0.1px solid white;
}
.footer .container .footer-item button.btn {
  color: #181818;
  border-radius: 24px;
  height: 50px;
  width: 240px;
  background: #AA017E;
  box-shadow: 0 0 0 3em white inset;
  font-size: 12px;
  font-weight: 600;
  border: 0.1px solid white;
  transition: 0.3s ease;
}
.footer .container .footer-item button.btn:hover {
  color: white;
  box-shadow: 0 0 0 0.5px white inset;
}/*# sourceMappingURL=index.css.map */