// color
// purple
$color-purple-1: #b61984;
$color-purple-2: #DCD1F3;
$color-purple-3: #AA017E;

// black
$color-black-1: #181818;

// white
$color-white-1: white;

// transition
$transition-1s: 0.1s;
$transition-2s: 0.2s;
$transition-3s: 0.3s;
$transition-5s: 0.5s;