// variable
@import "./variable";

body {
    font-family: 'Montserrat', sans-serif;
}

img {
    display: block;
    width: 100%;
}

.container {
    padding-right: 30px;
    padding-left: 30px;
    max-width: 1260px;
}

// header
header {
    background-image: url(../images/yellow_top_wave_01.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    height: 240px;

    .header-nav {
        transition: $transition-2s;

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo {
                img {
                    width: 80px;
                }
            }

            nav {
                display: flex;
                align-items: center;
                font-size: 13px;

                .menudrop {
                    position: relative;
                    margin-right: 50px;
                    padding: 30px 0;

                    &::before {
                        content: "";
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%) scale(0%);
                        top: 75px;
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        background: $color-purple-1;
                        transition: $transition-5s;
                        z-index: 2;
                    }

                    &:hover {
                        &::before {
                            transform: translateX(-50%) scale(100%);
                        }

                        .menudrop-content {
                            visibility: visible;
                            opacity: 1;
                            transform: translateX(-50%) scale(100%);
                        }

                        .floatleft {
                            transform: translateX(0) scale(100%);
                        }

                        .floatright {
                            transform: translateX(-75%) scale(100%);
                        }
                    }

                    a {
                        color: $color-black-1;
                        font-weight: 600;
                        text-decoration: none;
                        transition: $transition-1s;

                        &:hover {
                            color: $color-purple-1;
                        }

                        &:active {
                            .menudrop {
                                &::before {
                                    transform: translateX(-50%) scale(80%);
                                }
                            }
                        }
                    }

                    .menudrop-content {
                        position: absolute;
                        display: flex;
                        left: 50%;
                        transform: translateX(-50%) scale(80%);
                        background: $color-white-1;
                        top: 80px;
                        padding: 10px 20px;
                        box-shadow: 0 0 10px 0 rgb(204 204 204 / 50%);
                        visibility: hidden;
                        opacity: 0;
                        transition: $transition-3s;

                        .menucol {
                            width: 200px;

                            .content-col {
                                &:hover {
                                    .menucol2 {
                                        visibility: visible !important;
                                        opacity: 1 !important;
                                    }
                                }

                                a {
                                    display: block;
                                    width: 200px;
                                    font-size: 12px;
                                    position: relative;
                                    padding: 2px 0;

                                    &.highlight {
                                        color: $color-purple-1;
                                    }
                                }

                                a.dot-layer2 {
                                    &::before {
                                        content: "";
                                        position: absolute;
                                        top: 50%;
                                        right: 5%;
                                        transform: translateY(-50%);
                                        width: 6px;
                                        height: 6px;
                                        border-radius: 50%;
                                        background: $color-purple-1;
                                        transition: $transition-5s;
                                        z-index: 2;
                                    }
                                }

                                .dropdown-divider {
                                    width: 100%;
                                    border-top: 2px solid #e9ecef;
                                }

                                .divider1 {
                                    border-top: 2px solid $color-purple-1;
                                }

                                .menudrop-content2 {
                                    position: relative;
                                    left: 220px;

                                    .menucol2 {
                                        position: absolute;
                                        visibility: hidden;
                                        background: $color-white-1;
                                        box-shadow: 0 0 10px 0 rgb(204 204 204 / 50%);
                                        width: 200px;
                                        padding: 10px 20px;
                                        top: -50px;
                                        opacity: 0;
                                        transition: $transition-2s;
                                    }

                                    .menucol2-last {
                                        top: -30px;
                                    }
                                }



                            }
                        }

                        .col2 {
                            margin-left: 40px;
                            margin-right: 40px;
                        }
                    }

                    .floatleft {
                        left: 0;
                        transform: translateX(0) scale(80%);
                    }

                    .floatright {
                        left: 0;
                        transform: translateX(-75%) scale(80%);
                        text-align: right;
                    }
                }

                .menudrop-active {
                    &::before {
                        content: "";
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%) scale(70%);
                        top: 75px;
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        background: $color-purple-1;
                        transition: $transition-5s;
                        z-index: 2;
                    }
                }

                .header-button {
                    a {
                        font-size: 13px;
                        color: $color-black-1;
                        margin-left: 4px;
                        margin-right: 0px;
                        transition: $transition-1s;

                        &:hover {
                            color: $color-purple-1;
                        }
                    }

                    .btn {
                        margin: 0 10px;
                        border-radius: 24px;
                        padding: 11px 20px;
                        background: $color-white-1;
                        box-shadow: 0 0 0 3em $color-purple-1 inset;
                        font-size: 13px;
                        font-weight: 500;
                        border: 0.1px solid $color-purple-1;
                        transition: $transition-3s ease;

                        &:hover {
                            color: $color-purple-1;
                            box-shadow: 0 0 0 0.5px $color-purple-1 inset;
                        }
                    }

                    i {
                        margin-right: 6px;
                    }
                }
            }
        }
    }
}

// header sticky
header .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: white !important;
    padding: 0;
    box-shadow: 0 0 10px 0 rgb(204 204 204 / 50%);
    z-index: 3;

    .logo {
        img {
            width: 49px !important;
        }
    }

    .menudrop {
        position: relative;
        margin-right: 50px;
        padding: 15px 0 !important;

        &::before {
            top: 45px !important;
        }

        .menudrop-content {
            top: 50px !important;
        }
    }

    .menudrop-active {
        &::before {
            top: 45px !important;
        }
    }

    .header-button {
        .btn {
            padding: 6px 20px !important;
        }
    }
}

// about us
.aboutus-title {
    margin-top: -230px;
    background-image: url(../images/Violet_top_left_wave.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;

    .container {
        display: flex;
        align-items: center;
        padding: 50px 30px;

        .at-left {
            width: 50%;

            h3 {
                color: $color-purple-1;
                font-size: 16px;
                font-weight: 700;
            }

            h2 {
                font-size: 58px;
                font-weight: 700;
            }
        }

        .at-right {
            width: 50%;
        }
    }
}

.aboutus-list {
    background-color: $color-purple-2;
    background-image: url(../images/Wave_White_bottom_right_shape_01.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;

    .container {
        padding-top: 30px;

        .al-row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;

            .al-item {
                width: 22.5%;
                border-radius: 16px;
                overflow: hidden;
                transition: $transition-3s;
                .al-item-image{
                    max-height: 180px;
                    overflow: hidden;
                    img{
                        transition: $transition-5s;
                    }
                    &:hover{
                        img{
                            transform: scale(1.1);
                        }
                    }
                }
                &:hover{
                    box-shadow: 0 30px 30px -10px rgb(0 0 0 / 20%);
                }

                .al-item-content {
                    padding: 30px 20px;
                    text-align: center;
                    background: white;


                    h5 {
                        font-size: 11px;
                        font-weight: 600;
                        color: $color-purple-1;
                    }

                    h3 {
                        font-size: 24px;
                        font-weight: 700;
                    }

                    p {
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 2;
                    }
                }
            }
        }
    }
}

// form course
.form-course {
    background-image: url(../images/accent_bottom_wave_01.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;

    .container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-bottom: 40px;
        padding-top: 60px;

        .form-right {

            .form-item {
                background: white;
                box-shadow: 0 0 10px 0 rgb(204 204 204 / 50%);
                border-radius: 10px;
                width: 380px;
                padding: 15px 25px 70px 25px;

                h3 {
                    text-align: center;
                    font-size: 36px;
                    font-weight: 700;
                    margin-bottom: 40px;
                }

                input {
                    border-radius: 24px;
                    height: 40px;
                    font-size: 11px;
                    font-weight: 500;
                    padding-left: 36px;
                }

                .input-name {
                    position: relative;
                    width: 43%;

                    i {
                        top: 12px;
                        left: 12px;
                    }
                }

                .input-email {
                    position: relative;
                    width: 53%;

                    i {
                        top: 12px;
                        left: 12px;
                    }
                }

                .select-language {
                    position: relative;

                    i {
                        top: 10px;
                        left: 12px;
                    }
                }

                .message {
                    position: relative;

                    i {
                        top: 10px;
                        left: 12px;
                    }
                }

                i {
                    position: absolute;
                    color: $color-purple-1;
                }

                select {
                    font-size: 11px;
                    font-weight: 500;
                    border-radius: 24px;
                    height: 36px;
                    padding-left: 36px;
                }

                textarea {
                    font-size: 11px;
                    font-weight: 500;
                    border-radius: 24px;
                    height: 90px;
                    padding-left: 36px;
                    padding-top: 8px;
                }

                button {
                    &.btn {
                        color: white;
                        border-radius: 24px;
                        padding: 14px 56px;
                        margin-top: 30px;
                        background: $color-white-1;
                        box-shadow: 0 0 0 3em $color-purple-1 inset;
                        font-size: 13px;
                        font-weight: 500;
                        border: 0.1px solid $color-purple-1;
                        transition: $transition-3s ease;

                        &:hover {
                            color: $color-purple-1;
                            box-shadow: 0 0 0 0.5px $color-purple-1 inset;
                        }
                    }
                }

                .form-control:focus {
                    box-shadow: none;
                    border: 0.1px solid gray;
                }
            }
        }
    }
}

// footer
.footer {
    background-image: url(../images/footer_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 200px;

    .container {
        display: flex;
        justify-content: space-between;

        .middle {
            width: 18%;
        }

        .footer-item {
            color: $color-white-1;

            h3 {
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 30px;
            }

            p {
                font-size: 12px;
                font-weight: 500;
                line-height: 1;

                i {
                    margin-right: 10px;
                }
            }

            a {
                color: white;
                margin-right: 6px;
                font-size: 12px;
                transition: $transition-2s;
                text-decoration: none;
                font-weight: 500;

                &:hover {
                    opacity: 0.8;
                }

                &.fab {
                    &:hover {
                        color: $color-black-1;
                    }
                }
            }

            hr {
                width: 40%;
                margin: 6px 0;
            }

            input {
                text-align: center;
                margin-top: 46px;
                border-radius: 24px;
                color: $color-white-1;
                font-size: 13px;
                width: 240px;
                height: 48px;
                background: $color-purple-3;
                border: 1px solid rgba(255, 255, 255, .1);
                transition: $transition-3s;

                &::placeholder {
                    color: $color-white-1;
                }

                &.form-control:focus {
                    box-shadow: none;
                    border: 0.1px solid $color-white-1;
                }
            }

            button {
                &.btn {
                    color: $color-black-1;
                    border-radius: 24px;
                    height: 50px;
                    width: 240px;
                    background: $color-purple-3;
                    box-shadow: 0 0 0 3em $color-white-1 inset;
                    font-size: 12px;
                    font-weight: 600;
                    border: 0.1px solid $color-white-1;
                    transition: $transition-3s ease;

                    &:hover {
                        color: $color-white-1;
                        box-shadow: 0 0 0 0.5px $color-white-1 inset;
                    }
                }
            }
        }
    }
}